.main-header {
  background: #272D2D;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  letter-spacing: 1.5px;
  font-weight: 300;
  font-size: 2.5rem;
}

.form-container {
  width: 90%;
  margin: 2.5rem auto;
}

.form-header {
  background: #272D2D;
  padding: 1rem;
}

.form-header h3 {
  display: inline-block;
  margin-left: 1rem;
  color: #fff;
}

.form-toggler {
  background: none;
  border: none;
  font-size: 2.5rem;
  color: #23CE6B;
  cursor: pointer;
}

.add-pet {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  transition: transform 0.55s ease-in;
  text-align: center;
}

.add-pet input,
.add-pet textarea{
  height: 3.5rem;
  width: 95%;
  margin: 1rem auto;
  border: 2px solid rgba(184, 197, 214, 0.733);
  border-radius: 0.5rem;
  padding: 1rem 2.5rem;
  outline: none;
  transition: border-color 0.55s ease-in;
}

.add-pet textarea {
  resize: none;
  height: 10rem;
}

.add-pet input:focus,
.add-pet textarea:focus {
  border-color: rgb(6, 118, 184);
}

.add-pet button {
  width: 12rem;
  padding: 1rem 2rem;
  text-align: center;
  border: none;
  background: #23CE6B;
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.55s ease-in;
}

.add-pet button:hover {
  background: rgb(32, 173, 91);
}

.apts {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.main-infos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.apts li {
  width: 80%;
  margin: 1rem auto;
  border-bottom: 1px solid rgba(9, 10, 12, 0.253);
  padding-bottom: 2rem;
}

.apts li h3 {
  font-size: 2rem;
  color: rgba(45, 5, 109, 0.897);
  margin-left: 5%;
}

.apts li span {
  font-size: 1.6rem;
  color: rgb(14, 109, 54);
  margin-left: auto;
}

.apts li p {
  font-size: 1.6rem;
  margin: 0.5rem auto;
  text-align: center;
}

.apts li p:first-of-type {
  margin-top: 2rem;
}

.apts li button {
  border: none;
  background: rgb(218, 55, 55);
  color: #fff;
  padding: 0.4rem;
  border-radius: 5px;
  cursor: pointer;
}

/*----------MEdia querys----------*/

@media (min-width: 660px) {

  .form-container {
    justify-content: space-between;
    width: 65%;
  }

  .add-pet input {
    width: 45%;
  }
}

@media (min-width: 960px) {
  .form-container {
    width: 45%;
  }
}